In [1]:
import pandas as pd

In [2]:
stats = pd.read_csv("player_mvp_stats.csv")

In [3]:
stats

,Unnamed: 0,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
1,1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
2,2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
3,3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
4,4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14087,14087,Spencer Hawes,PF,28,MIL,54,1,14.8,2.5,5.1,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14088,14088,Steve Novak,PF,33,MIL,8,0,2.8,0.3,0.9,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14089,14089,Terrence Jones,PF,25,MIL,54,12,23.5,4.3,9.1,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14090,14090,Thon Maker,C,19,MIL,57,34,9.9,1.5,3.2,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14091,14091,Tony Snell,SG,25,MIL,80,80,29.2,3.1,6.8,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45

In [4]:
del stats["Unnamed: 0"]

In [5]:
pd.isnull(stats).sum()

Player        0
Pos           0
Age           0
Tm            0
G             0
GS            0
MP            0
FG            0
FGA           0
FG%          50
3P            0
3PA           0
3P%        2042
2P            0
2PA           0
2P%          84
eFG%         50
FT            0
FTA           0
FT%         462
ORB           0
DRB           0
TRB           0
AST           0
STL           0
BLK           0
TOV           0
PF            0
PTS           0
Year          0
Pts Won       0
Pts Max       0
Share         0
Team          0
W             0
L             0
W/L%          0
GB            0
PS/G          0
PA/G          0
SRS           0
dtype: int64

In [6]:
stats[pd.isnull(stats["3P%"])][["Player", "3PA"]]

                 Player  3PA
2        Elden Campbell  0.0
3         Irving Thomas  0.0
18           Jack Haley  0.0
20          Keith Owens  0.0
30      Benoit Benjamin  0.0
...                 ...  ...
14061    Evan Eschmeyer  0.0
14062  Gheorghe Mureșan  0.0
14064     Jim McIlvaine  0.0
14070  Mark Hendrickson  0.0
14071      Michael Cage  0.0

[2042 rows x 2 columns]

In [7]:
stats = stats.fillna(0)

In [8]:
pd.isnull(stats).sum()

Player     0
Pos        0
Age        0
Tm         0
G          0
GS         0
MP         0
FG         0
FGA        0
FG%        0
3P         0
3PA        0
3P%        0
2P         0
2PA        0
2P%        0
eFG%       0
FT         0
FTA        0
FT%        0
ORB        0
DRB        0
TRB        0
AST        0
STL        0
BLK        0
TOV        0
PF         0
PTS        0
Year       0
Pts Won    0
Pts Max    0
Share      0
Team       0
W          0
L          0
W/L%       0
GB         0
PS/G       0
PA/G       0
SRS        0
dtype: int64

In [9]:
stats.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year',
       'Pts Won', 'Pts Max', 'Share', 'Team', 'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS'],
      dtype='object')

In [10]:
predictors = ["Age", "G", "GS", "MP", "FG", "FGA", 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'W', 'L', 'W/L%',
       'GB', 'PS/G', 'PA/G', 'SRS']

In [11]:
train = stats[~(stats["Year"] < 2021)]

In [12]:
test = stats[stats["Year"] == 2021]

In [13]:
from sklearn.linear_model import Ridge

reg = Ridge(alpha=.1)

In [14]:
reg.fit(train[predictors],train["Share"])

Ridge(alpha=0.1)

In [15]:
predictions = reg.predict(test[predictors])

In [16]:
predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)

In [17]:
predictions

       predictions
630      -0.004840
631      -0.016766
632       0.006319
633       0.013504
634       0.024497
...            ...
13897    -0.018654
13898    -0.002209
13899    -0.006021
13900    -0.002628
13901    -0.005231

[540 rows x 1 columns]

In [18]:
combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)

In [19]:
combination

                       Player  Share  predictions
630              Aaron Gordon    0.0    -0.004840
631             Austin Rivers    0.0    -0.016766
632                   Bol Bol    0.0     0.006319
633          Facundo Campazzo    0.0     0.013504
634          Greg Whittington    0.0     0.024497
...                       ...    ...          ...
13897             Patty Mills    0.0    -0.018654
13898  Quinndary Weatherspoon    0.0    -0.002209
13899                Rudy Gay    0.0    -0.006021
13900               Tre Jones    0.0    -0.002628
13901              Trey Lyles    0.0    -0.005231

[540 rows x 3 columns]

In [20]:
combination.sort_values("Share", ascending=False).head(10)

                      Player  Share  predictions
641             Nikola Jokić  0.961     0.141560
8624             Joel Embiid  0.580     0.152123
3651           Stephen Curry  0.449     0.125944
9907   Giannis Antetokounmpo  0.345     0.122207
1389              Chris Paul  0.138     0.050144
10997            Luka Dončić  0.042     0.086712
7464          Damian Lillard  0.038     0.102868
3536           Julius Randle  0.020     0.054474
3531            Derrick Rose  0.010     0.001104
11358            Rudy Gobert  0.008     0.043057

In [21]:
from sklearn.metrics import mean_squared_error

mean_squared_error(combination["Share"], combination["predictions"])

0.0023387609045687923

In [22]:
combination["Share"].value_counts()

0.000    525
0.001      3
0.961      1
0.138      1
0.010      1
0.020      1
0.449      1
0.005      1
0.038      1
0.003      1
0.580      1
0.345      1
0.042      1
0.008      1
Name: Share, dtype: int64

In [23]:
combination = combination.sort_values("Share", ascending=False)
combination["Rk"] = list(range(1,combination.shape[0]+1))

In [24]:
combination.head(10)

                      Player  Share  predictions  Rk
641             Nikola Jokić  0.961     0.141560   1
8624             Joel Embiid  0.580     0.152123   2
3651           Stephen Curry  0.449     0.125944   3
9907   Giannis Antetokounmpo  0.345     0.122207   4
1389              Chris Paul  0.138     0.050144   5
10997            Luka Dončić  0.042     0.086712   6
7464          Damian Lillard  0.038     0.102868   7
3536           Julius Randle  0.020     0.054474   8
3531            Derrick Rose  0.010     0.001104   9
11358            Rudy Gobert  0.008     0.043057  10

In [25]:
combination = combination.sort_values("predictions", ascending=False)
combination["Predicted_Rk"] = list(range(1,combination.shape[0]+1))

In [26]:
combination.head(10)

                     Player  Share  predictions   Rk  Predicted_Rk
8624            Joel Embiid  0.580     0.152123    2             1
641            Nikola Jokić  0.961     0.141560    1             2
3651          Stephen Curry  0.449     0.125944    3             3
9907  Giannis Antetokounmpo  0.345     0.122207    4             4
4174           James Harden  0.001     0.111555   13             5
6093           Jimmy Butler  0.000     0.111152  442             6
7464         Damian Lillard  0.038     0.102868    7             7
4177           Kevin Durant  0.000     0.098420  531             8
7927     Karl-Anthony Towns  0.000     0.094779  103             9
5328          Kawhi Leonard  0.001     0.090022   14            10

In [27]:
combination.head(10)

                     Player  Share  predictions   Rk  Predicted_Rk
8624            Joel Embiid  0.580     0.152123    2             1
641            Nikola Jokić  0.961     0.141560    1             2
3651          Stephen Curry  0.449     0.125944    3             3
9907  Giannis Antetokounmpo  0.345     0.122207    4             4
4174           James Harden  0.001     0.111555   13             5
6093           Jimmy Butler  0.000     0.111152  442             6
7464         Damian Lillard  0.038     0.102868    7             7
4177           Kevin Durant  0.000     0.098420  531             8
7927     Karl-Anthony Towns  0.000     0.094779  103             9
5328          Kawhi Leonard  0.001     0.090022   14            10

In [28]:
combination.sort_values("Share", ascending=False).head(10)

                      Player  Share  predictions  Rk  Predicted_Rk
641             Nikola Jokić  0.961     0.141560   1             2
8624             Joel Embiid  0.580     0.152123   2             1
3651           Stephen Curry  0.449     0.125944   3             3
9907   Giannis Antetokounmpo  0.345     0.122207   4             4
1389              Chris Paul  0.138     0.050144   5            27
10997            Luka Dončić  0.042     0.086712   6            11
7464          Damian Lillard  0.038     0.102868   7             7
3536           Julius Randle  0.020     0.054474   8            24
3531            Derrick Rose  0.010     0.001104   9           264
11358            Rudy Gobert  0.008     0.043057  10            32

In [29]:
def find_ap(combination):
    actual = combination.sort_values("Share", ascending=False).head(5)
    predicted = combination.sort_values("predictions", ascending=False)
    ps = []
    found = 0
    seen = 1
    for index,row in predicted.iterrows():
        if row["Player"] in actual["Player"].values:
            found += 1
            ps.append(found / seen)
        seen += 1

    return sum(ps) / len(ps)

In [30]:
find_ap(combination)

0.837037037037037

In [31]:
years = list(range(1991,2022))

In [32]:
aps = []
all_predictions = []
for year in years [5:]:
    train = stats[stats["Year"] <year]
    test = stats[stats["Year"] == year]
    reg.fit(train[predictors], train["Share"])
    predictions = reg.predict(test[predictors])
    predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)
    combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)
    all_predictions.append(combination)
    aps.append(find_ap(combination))

In [33]:
sum(aps) / len(aps)

0.7110668523458931

In [34]:
def add_ranks(combination):
    combination = combination.sort_values("Share", ascending=False)
    combination["Rk"] = list(range(1,combination.shape[0]+1))
    combination = combination.sort_values("predictions", ascending=False)
    combination["Predicted_Rk"] = list(range(1,combination.shape[0]+1))
    combination["Diff"] = combination["Rk"] - combination["Predicted_Rk"]
    return combination

In [35]:
ranking = add_ranks(all_predictions[1])
ranking[ranking["Rk"] < 6].sort_values("Diff", ascending=False)

               Player  Share  predictions  Rk  Predicted_Rk  Diff
1600      Karl Malone  0.857     0.192360   1             2    -1
10524  Michael Jordan  0.832     0.167672   2             3    -1
908        Grant Hill  0.327     0.128664   3             6    -3
4682     Tim Hardaway  0.207     0.059992   4            20   -16
8248        Glen Rice  0.117     0.033122   5            53   -48

In [36]:
def backtest(stats, model, year, predictors):
    aps = []
    all_predictions = []
    for year in years [5:]:
        train = stats[stats["Year"] <year]
        test = stats[stats["Year"] == year]
        model.fit(train[predictors], train["Share"])
        predictions = reg.predict(test[predictors])
        predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)
        combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)
        combination = add_ranks(combination)
        all_predictions.append(combination)
        aps.append(find_ap(combination))
    return sum(aps)/len(aps), aps, pd.concat(all_predictions)

In [37]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[5:], predictors)

In [38]:
mean_ap

0.7110668523458931

In [40]:
all_predictions[all_predictions["Rk"] <= 5].sort_values("Diff").head(10)

                 Player  Share  predictions  Rk  Predicted_Rk  Diff
1224         Jason Kidd  0.712     0.027957   2            52   -50
8248          Glen Rice  0.117     0.033122   5            53   -48
5175         Steve Nash  0.839     0.032686   1            47   -46
8516    Peja Stojaković  0.228     0.035581   4            39   -35
5193         Steve Nash  0.739     0.051338   1            35   -34
12726       Joakim Noah  0.258     0.047390   4            37   -33
3657   Chauncey Billups  0.344     0.051437   5            34   -29
1389         Chris Paul  0.138     0.073983   5            33   -28
5208         Steve Nash  0.785     0.070791   2            23   -21
4682       Tim Hardaway  0.207     0.059992   4            20   -16

In [43]:
pd.concat([pd.Series(reg.coef_), pd.Series(predictors)], axis=1).sort_values(0, ascending=False)

           0     1
13  0.065312  eFG%
18  0.034362   DRB
28  0.028500  W/L%
17  0.021790   ORB
10  0.015914    2P
21  0.012054   STL
15  0.011474   FTA
22  0.011175   BLK
20  0.007435   AST
25  0.006141   PTS
4   0.005892    FG
5   0.005526   FGA
7   0.004921    3P
12  0.003043   2P%
0   0.000361   Age
29  0.000314    GB
26  0.000114     W
1   0.000096     G
2  -0.000005    GS
27 -0.000308     L
31 -0.000326  PA/G
30 -0.000500  PS/G
32 -0.000609   SRS
24 -0.002366    PF
3  -0.004164    MP
16 -0.004287   FT%
14 -0.006912    FT
23 -0.009441   TOV
9  -0.009815   3P%
8  -0.011058   3PA
11 -0.017116   2PA
19 -0.027270   TRB
6  -0.130267   FG%

In [44]:
stat_ratios = stats[["PTS", "AST", "STL", "BLK", "3P", "Year"]].groupby("Year").apply(lambda x: x/x.mean())

In [45]:
stat_ratios

            PTS       AST       STL       BLK        3P  Year
0      1.013334  0.420714  0.961127  0.673469  0.508587   1.0
1      1.614653  1.028412  1.647646  0.673469  4.577279   1.0
2      0.311795  0.093492  0.274608  1.571429  0.000000   1.0
3      0.200440  0.186984  0.274608  0.000000  0.000000   1.0
4      2.383005  1.636110  1.784950  0.897959  1.525760   1.0
...         ...       ...       ...       ...       ...   ...
14087  0.735752  0.819562  0.479763  1.528302  0.650951   1.0
14088  0.071202  0.000000  0.000000  0.000000  0.130190   1.0
14089  1.281633  0.601012  1.119447  2.547170  0.520761   1.0
14090  0.474679  0.218550  0.319842  1.273585  0.650951   1.0
14091  1.008693  0.655649  1.119447  0.509434  2.343424   1.0

[14092 rows x 6 columns]

In [55]:
stats[["PTS_T", "AST_R", "STL_R", "BLK_R", "3P_R"]] = stat_ratios[["PTS", "AST", "STL", "BLK", "3P"]]

In [53]:
stats.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,GB,PS/G,PA/G,SRS,PTS_T,AST_R,STL_R,BLK_R,3P_R,PTS_R
0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,0.476,...,5.0,106.3,99.6,6.73,1.013334,0.420714,0.961127,0.673469,0.508587,1.013334
1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,0.477,...,5.0,106.3,99.6,6.73,1.614653,1.028412,1.647646,0.673469,4.577279,1.614653
2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,0.455,...,5.0,106.3,99.6,6.73,0.311795,0.093492,0.274608,1.571429,0.000000,0.311795
3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,0.340,...,5.0,106.3,99.6,6.73,0.200440,0.186984,0.274608,0.000000,0.000000,0.200440
4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,0.492,...,5.0,106.3,99.6,6.73,2.383005,1.636110,1.784950,0.897959,1.525760,2.383005

In [56]:
predictors += ["PTS_T", "AST_R", "STL_R", "BLK_R", "3P_R"]

In [57]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[5:], predictors)

In [58]:
mean_ap

0.7182739947393959

In [59]:
stats["NPos"] = stats["Pos"].astype("category").cat.codes

In [60]:
stats["NTm"] = stats ["Tm"].astype("category").cat.codes

In [62]:
stats["Pos"].unique()

array(['PF', 'SG', 'SF', 'PG', 'C', 'PG-SG', 'PF-SF', 'SG-PG', 'PF-C',
       'SG-SF', 'SF-PF', 'SF-SG', 'C-PF', 'SG-PF', 'PG-SF', 'SF-C'],
      dtype=object)

In [64]:
stats["NTm"].value_counts()

7     499
27    495
14    493
8     493
11    492
17    491
12    490
0     485
9     480
31    479
1     479
26    476
15    475
18    475
13    474
5     473
24    468
19    466
30    465
34    464
29    463
28    463
10    461
33    421
36    387
20    343
16    331
32    263
25    214
4     177
2     165
3     157
23    145
21    143
37    114
6     113
35     88
22     32
Name: NTm, dtype: int64

In [65]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators=50, random_state=1, min_samples_split=5)

mean_ap, aps, all_predictions = backtest(stats, rf, years[28:], predictors)

In [66]:
mean_ap

0.7456311092998757

In [69]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[28:], predictors)

In [70]:
mean_ap

0.7182739947393959